.panda-card{
    border: 0;
}
.footer-panda-card{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 10px;
}
.info-color{
    background-color: #fceae8;
}
.btn-color{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
}